<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="top-nav">
    <th:block th:replace="/layout/top_nav :: topnav"></th:block>
</div>
<div class="main-container">
    <div class="project-list">
        <th:block th:replace="/task/task_menu :: menuinfo"></th:block>
    </div>
    <div class="task-container">
        <div class="task-list">
            <th:block th:replace="/task/task_list :: tasklist"></th:block>
        </div>
        <div class="task-info-container">
            <th:block layout:fragment="taskinfo"></th:block>
        </div>
    </div>
</div>

</body>
</html>