<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
<div style="display: flex">
    <div th:fragment="menuinfo" th:if="${projects != null}">
        <table>
            <tr th:each="project : ${projects}">
                <td>
                    <form method="get" th:action="@{'/task/{projectId}'(projectId=${project.getProjectId()})}">
                        <button th:text="${project.getProjectName()}" type="submit"></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>