<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menuinfo">
    <div class="login-info">
        <button id="btn-logout">taskmenu</button>
    </div>
    <form method="post" id="logoutForm" action="/task/list">
    </form>

    <!--    <p th:text="${}"-->
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function () {
            const btnLogout = document.getElementById("btn-logout");
            btnLogout.addEventListener("click", function () {
                const logoutForm = document.getElementById("logoutForm");
                logoutForm.submit();
            });
        });
    </script>

</div>