<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="main-container">
    <!-- 왼쪽 영역: project-list -->
    <div class="project-list" style="background-color: red">
        <!--        <th:block th:insert="~{task/taskmenu :: menuinfo}" th:object="${projects}"></th:block>-->
        <th:block th:replace="/task/taskmenu :: menuinfo" th:object="${projects}"></th:block>
    </div>

    <!-- 오른쪽 영역: task-container -->
    <div class="task-container">
        <!-- 왼쪽 영역: task-list -->
        <div class="task-list">
            <!--            <th:block th:insert="~{task/tasklist :: tasklist}" th:object="${tasks}"></th:block>-->
            <th:block layout:fragment="tasklist"></th:block>
        </div>

        <!-- 오른쪽 영역: task-info-container -->
        <div class="task-info-container">
            <!--            <th:block th:insert="~{task/taskinfo :: taskinfo}" th:object="${task}"></th:block>-->
            <th:block th:fragment="taskinfo"></th:block>
        </div>
    </div>
</div>
</body>
</html>