<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<head>
    <title>login</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
<th:block layout:fragment="tasklist">
    <div style="display: flex">
        <div th:if="${tasks != null}">
            <table>
                <tr th:each="task : ${tasks}">
                    <td>
                        <form method="get"
                              th:action="@{'/task/{projectId}/{taskId}'(projectId=1, taskId=${task.getTaskId()})}">
                            <button th:text="${task.getTaskName()}" type="submit"></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</th:block>
</body>
</html>